{
    "token": "TOKEN",
    "owner": "OWNER_ID",
    "permissions": 0,
    "client_id": "CLIENT_ID",
    "postgres": {
        "host": "HOST",
        "user": "USER",
        "password": "PASSWORD",
        "database": "DATABASE"
    },    
    "eris": {},
    "prefix": "!",
    "defaultLocale": "en",
    "commands": "./commands",
    "allowCommandDisabling": "manageMessages",
    "guildPrefix": "manageMessages",
    "botspamChannel": "manageMessages",
    "cooldowns": "manageMessages",
    "sendCooldownMessages": true,
    "settings": {
        "botboy": {
            "type": "role"
        },
        "timeout": {
            "type": "INT",
            "permission": "manageMessages"
        },
        "randomrole": {
            "type": "role",
            "permission": "manageMessages"
        }
    }
}
